<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Decks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="logo">
        <h1>YGOLocalLeaderboard</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/duels">Duels</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Decks</h1>
    <a href="/decks/new" class="btn">Create New Deck</a>

    <table>
        <thead>
        <tr>
            <th>Face Card</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deck : ${decks}">
            <td><img th:src="@{'/api/images/' + ${deck.setCards[0].effectiveCard.cardImages.get(deck.setCards[0].artwork).id}}" alt="Sample Image" style="width: 100px; height: auto;"></td>
            <td>
                <h3 th:text="${deck.name}"></h3>
                <a th:text="'Deck Size: ' + ${#lists.size(deck.setCards)}"></a>
            </td>
            <td>
                <a th:href="@{/decks/{name}(name=${deck.name})}" class="btn">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>&copy; 2024 YGOLocalLeaderboard</p>
</footer>
</body>
</html>