<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Decks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="logo">
        <h1>YGOLocalLeaderboard</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/duels">Duels</a></li>
        </ul>
    </nav>
</header>

<main>
    <table>
        <thead>
        <tr>
            <th style="width: 1%;">Avatar</th> <!-- Set a narrow width -->
            <th>Details</th>
            <th style="width: 1%;">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="playerDTO : ${playerList}">
            <td style="width: 1%; padding: 0;"> <!-- Minimize width to fit the image -->
                <img th:src="@{'/api/images/avatar/' + ${playerDTO.player.avatar.name} + '/' + 'neutral'}"
                     alt="Avatar Image"
                     style="width: auto; height: 150px; object-fit: contain;">
            </td>
            <td>
                <h3 th:text="${playerDTO.player.name}"></h3>
                <div class="graphThicker">
                    <div class="win" th:style="'width: ' + ${playerDTO.playerWinLossDrawRatio.winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${playerDTO.playerWinLossDrawRatio.lossRatio*100} + '%; left: ' + ${playerDTO.playerWinLossDrawRatio.winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${playerDTO.playerWinLossDrawRatio.drawRatio*100} + '%; left: ' + (${playerDTO.playerWinLossDrawRatio.winRatio*100} + ${playerDTO.playerWinLossDrawRatio.lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </td>
            <td>
                <a th:href="@{/players/{name}(name=${playerDTO.player.name})}" class="btn">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>&copy; 2024 YGOLocalLeaderboard</p>
</footer>
</body>
</html>