<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YGOLocalLeaderboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="logo">
        <h1>YGOLocalLeaderboard</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/duels">Duels</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="stats">
        <h2>Top Decks</h2>
        <ul>
            <li class="index-list-container">
                <a th:text="${deckWLDRatios[0].deckName} + ' '"></a>
                <a th:text="${deckWLDRatios[0].totalDuels} + ' total duels  '"></a>
                <a th:text="${deckWLDRatios[0].winRatio*100} + ' WR  '"></a>
                <a th:text="${deckWLDRatios[0].lossRatio*100} + ' LR  '"></a>
                <a th:text="${deckWLDRatios[0].drawRatio*100} + ' DR'"></a>
                <div class="graph">
                    <div class="win" th:style="'width: ' + ${deckWLDRatios[0].winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${deckWLDRatios[0].lossRatio*100} + '%; left: ' + ${deckWLDRatios[0].winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${deckWLDRatios[0].drawRatio*100} + '%; left: ' + (${deckWLDRatios[0].winRatio*100} + ${deckWLDRatios[0].lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </li>
            <li class="index-list-container">
                <a th:text="${deckWLDRatios[1].deckName} + ' '"></a>
                <a th:text="${deckWLDRatios[1].totalDuels} + ' total duels  '"></a>
                <a th:text="${deckWLDRatios[1].winRatio*100} + ' WR  '"></a>
                <a th:text="${deckWLDRatios[1].lossRatio*100} + ' LR  '"></a>
                <a th:text="${deckWLDRatios[1].drawRatio*100} + ' DR'"></a>
                <div class="graph">
                    <div class="win" th:style="'width: ' + ${deckWLDRatios[1].winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${deckWLDRatios[1].lossRatio*100} + '%; left: ' + ${deckWLDRatios[1].winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${deckWLDRatios[1].drawRatio*100} + '%; left: ' + (${deckWLDRatios[1].winRatio*100} + ${deckWLDRatios[1].lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </li>
            <li class="index-list-container">
                <a th:text="${deckWLDRatios[2].deckName} + ' '"></a>
                <a th:text="${deckWLDRatios[2].totalDuels} + ' total duels  '"></a>
                <a th:text="${deckWLDRatios[2].winRatio*100} + ' WR  '"></a>
                <a th:text="${deckWLDRatios[2].lossRatio*100} + ' LR  '"></a>
                <a th:text="${deckWLDRatios[2].drawRatio*100} + ' DR'"></a>
                <div class="graph">
                    <div class="win" th:style="'width: ' + ${deckWLDRatios[2].winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${deckWLDRatios[2].lossRatio*100} + '%; left: ' + ${deckWLDRatios[2].winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${deckWLDRatios[2].drawRatio*100} + '%; left: ' + (${deckWLDRatios[2].winRatio*100} + ${deckWLDRatios[2].lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </li>
        </ul>
    </section>
    <section class="stats">
        <h2>Top Players</h2>
        <ul>
            <li class="index-list-container">
                <a th:text="${playerWLDRatios[0].playerName} + ' '"></a>
                <a th:text="${playerWLDRatios[0].totalDuels} + ' total duels  '"></a>
                <a th:text="${playerWLDRatios[0].winRatio*100} + ' WR  '"></a>
                <a th:text="${playerWLDRatios[0].lossRatio*100} + ' LR  '"></a>
                <a th:text="${playerWLDRatios[0].drawRatio*100} + ' DR'"></a>
                <div class="graph">
                    <div class="win" th:style="'width: ' + ${playerWLDRatios[0].winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${playerWLDRatios[0].lossRatio*100} + '%; left: ' + ${playerWLDRatios[0].winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${playerWLDRatios[0].drawRatio*100} + '%; left: ' + (${playerWLDRatios[0].winRatio*100} + ${playerWLDRatios[0].lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </li>
            <li class="index-list-container">
                <a th:text="${playerWLDRatios[1].playerName} + ' '"></a>
                <a th:text="${playerWLDRatios[1].totalDuels} + ' total duels  '"></a>
                <a th:text="${playerWLDRatios[1].winRatio*100} + ' WR  '"></a>
                <a th:text="${playerWLDRatios[1].lossRatio*100} + ' LR  '"></a>
                <a th:text="${playerWLDRatios[1].drawRatio*100} + ' DR'"></a>
                <div class="graph">
                    <div class="win" th:style="'width: ' + ${playerWLDRatios[1].winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${playerWLDRatios[1].lossRatio*100} + '%; left: ' + ${playerWLDRatios[1].winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${playerWLDRatios[1].drawRatio*100} + '%; left: ' + (${playerWLDRatios[1].winRatio*100} + ${playerWLDRatios[1].lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </li>
            <li class="index-list-container">
                <a th:text="${playerWLDRatios[2].playerName} + ' '"></a>
                <a th:text="${playerWLDRatios[2].totalDuels} + ' total duels  '"></a>
                <a th:text="${playerWLDRatios[2].winRatio*100} + ' WR  '"></a>
                <a th:text="${playerWLDRatios[2].lossRatio*100} + ' LR  '"></a>
                <a th:text="${playerWLDRatios[2].drawRatio*100} + ' DR'"></a>
                <div class="graph">
                    <div class="win" th:style="'width: ' + ${playerWLDRatios[2].winRatio*100} + '%;'"></div> <!-- Win Rate -->
                    <div class="loss" th:style="'width: ' + ${playerWLDRatios[2].lossRatio*100} + '%; left: ' + ${playerWLDRatios[2].winRatio*100} + '%;'"></div> <!-- Loss Rate -->
                    <div class="draw" th:style="'width: ' + ${playerWLDRatios[2].drawRatio*100} + '%; left: ' + (${playerWLDRatios[2].winRatio*100} + ${playerWLDRatios[2].lossRatio*100}) + '%;'"></div> <!-- Draw Rate -->
                </div>
            </li>
        </ul>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <th>First Player</th>
                <th>First Deck</th>
                <th>Second Player</th>
                <th>Second Deck</th>
                <th>Win Condition</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="duel : ${duels}">
                <!-- First Player & Deck -->
                <td th:class="${duel.result == 1} ? 'green' : (${duel.result == 2} ? 'red' : 'blue')">
                    <div><img th:src="@{'/api/images/avatar/' + ${duel.player1.avatar.name} + '/' + ${duel.result == 1 ? 'positive' : 'negative'}}"
                              alt="Deck Image" style="width: 50px; height: auto; margin-right: 10px;"></div>
                    <div><span th:text="${duel.player1.name}"></span></div>
                </td>
                <td th:class="${duel.result == 1} ? 'green' : (${duel.result == 2} ? 'red' : 'blue')">
                    <div><img th:src="@{'/api/images/' + ${duel.deck1.setCards[0].effectiveCard.cardImages.get(duel.deck1.setCards[0].artwork).id}}"
                              alt="Deck Image" style="width: 50px; height: auto; margin-right: 10px;"></div>
                    <div><span th:text="${duel.deck1.name}"></span></div>
                </td>

                <!-- Second Player & Deck -->
                <td th:class="${duel.result == 2} ? 'green' : (${duel.result == 1} ? 'red' : 'blue')">
                    <div><img th:src="@{'/api/images/avatar/' + ${duel.player2.avatar.name} + '/' + ${duel.result == 2 ? 'positive' : 'negative'}}"
                              alt="Deck Image" style="width: 50px; height: auto; margin-right: 10px;"></div>
                    <div><span th:text="${duel.player2.name}"></span></div>
                </td>
                <td th:class="${duel.result == 2} ? 'green' : (${duel.result == 1} ? 'red' : 'blue')">
                    <div><img th:src="@{'/api/images/' + ${duel.deck2.setCards[0].effectiveCard.cardImages.get(duel.deck2.setCards[0].artwork).id}}"
                              alt="Deck Image" style="width: 50px; height: auto; margin-right: 10px;"></div>
                    <div><span th:text="${duel.deck2.name}"></span></div>
                </td>

                <!-- Win Condition, Date -->
                <td th:text="${duel.winCondition}"></td>
                <td th:text="${duel.duelDate}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer>
    <p>&copy; 2024 YGOLocalLeaderboard</p>
</footer>
</body>
</html>